@keyframes heart-scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill linear 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.06s;
}

.heart {
  transform-origin: center;
}

.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in;
}

.contour {
  transition: fill linear 0.1s;
}

.main-body {
  transition: fill linear 0.3s;
}

.core {
  transition: fill linear 0.3s 0.03s;
}

.sparks {
  opacity: 0;
}

.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}