/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-image: var(--bg-gradient);
  background-size: cover;
  font-variation-settings: 'wght' var(--text-wght);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  inline-size: var(--card-width);
  margin: 100px auto;
  border: 2px solid #000;
  padding-block: clamp(122px, 0.75vw + 119.18px, 130px);
  font-family: var(--decorative-font), sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: grid;
  justify-content: center;
  gap: 52px;
}

.card {
  inline-size: var(--card-width);
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  padding: 4px 10px;
  font-size: inherit;
  font-variation-settings: 'wght' var(--title-wght);
}

.image__container {
  position: relative;
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1/1;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px; 
  opacity: 50%;
  font-family: var(--decorative-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 0.5px #fff;
}

@supports (text-stroke: 1px #fff) {
  .label {
    text-stroke: 1px #fff;
  }
}

.card__content {
  padding: 25px;
}

.card__text {
  margin-bottom: 25px;
  line-height: 1.16;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}


.card__icon-button {
  display: flex;
  align-items: center;
}

.button {
  border: 2px solid #000;
  font-family: var(--decorative-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  background-color: #fff;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.card__save-button {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: clamp(306px, 295.7887px + 2.723vw, 335px);
  block-size: 55px;
  margin-bottom: 100px;
}

 .card__save-button svg {
    width: 21px;
  }

.dialog {
  padding: 30px;
}

.dialog::backdrop {
   background-color: rgb(0 0 0 / 0.75);
}

.dialog__container {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}


.dialog__text {
  max-inline-size: 234px;
  font-family: var(--decorative-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.card__close-button {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 38px;
}

@media (width <= 375px) {
  .card__save-button {
    flex-direction: column;
    block-size: 84px;
  }

  .card__save-button svg {
    width: 28px;
  }

  .dialog {
  padding: 30px 40px;
}

}