/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--text-wght);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  inline-size: var(--card-width);
  margin: 100px auto;
  border: 2px solid #000;
  padding-block: clamp(122px, 0.75vw + 119.18px, 130px);
  font-family: var(--decorative-font), fantasy;
  text-transform: uppercase;
  background-color: #fff;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: grid;
  justify-content: center;
  gap: 52px;
}

.card {
  inline-size: var(--card-width);
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  padding: 4px 10px;
  font-size: inherit;
  font-variation-settings: "wght" var(--title-wght);
}

.image__container {
  position: relative;
  border-block: 2px solid #000;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1/1;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  font-family: var(--decorative-font), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 0.5px #fff) or (-webkit-text-stroke: 0.5px #fff) {
  .label {
    text-shadow: none;
    text-stroke: 0.5px #fff;
    -webkit-text-stroke: 0.5px #fff;
  }
}

.card__content {
  padding: 25px;
}

.card__text {
  margin-bottom: 25px;
  line-height: 1.16;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 0px;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  font-family: var(--decorative-font), fantasy;
  font-size: 14px;
  line-height: 90%;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  box-shadow: 2px 2px var(--accent-color);
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.button svg {
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.card__save-button {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: clamp(306px, 295.7887px + 2.723vw, 335px);
  block-size: 55px;
  margin-block-end: 100px;
}

.card__save-button svg {
  width: 21px;
}

.dialog {
  padding: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__container {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.dialog__text {
  max-inline-size: 234px;
  font-family: var(--decorative-font), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.card__close-button {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 38px;
  text-transform: uppercase;
}

.color-filter {
  filter: hue-rotate(290deg);
}

.contrast-filter {
  filter: contrast(110);
}

.opacity-filter {
  filter: opacity(0.8);
}

.invert-filter {
  filter: invert(1);
}

.grayscale-filter {
  filter: grayscale(0.8);
}

.blur-filter {
  filter: blur(9px);
}

.combined-filter {
  filter: blur(3px) hue-rotate(80deg) contrast(50%);
}

@media (width <= 375px) {
  .card__save-button {
    flex-direction: column;
    block-size: 84px;
  }

  .card__save-button svg {
    width: 28px;
  }

  .dialog__text {
    max-inline-size: 202px;
  }
}
